:root {
  --familia-fonte-global: "Prompt";
  --cor-fundo-global: pink;
  --cor-texto-global: black;
  --cor-fundo-secao-principal: white;
  --cor-destaque: yellow;
  --cor-primaria: darkblue;
  --cor-secundaria: lightgreen;
  --cor-terciaria: lightblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-fundo-global);
  color: var(--cor-texto-global);
  font-family: var(--familia-fonte-global);

  display: flex;
  justify-content: center;
  align-items: start;

  height: 100vh;
  gap: 27px;
  padding: 56px 0;
}

aside {
  background-color: var(--cor-primaria);
  border-radius: 10px;
  padding: 16px 16px;
  text-align: center;
}

.lista_links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  align-items: center;
  list-style-type: none;
}

.lista_links li a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-size: 22px;
}

.lista_links li:first-of-type a {
  color: var(--cor-destaque);
}

.link-destaque {
  border: 1px solid var(--cor-destaque);
  padding: 12px 30px;
  border-radius: 8px;
}

main {
  display: flex;
  background-color: var(--cor-fundo-secao-principal);
  border-radius: 10px;
  padding: 28px;
  gap: 24px;
  width: 70vmax;
}

.container-upload-imagem {
  width: 60%;
}

.container-imagem {
}

.imagem-principal {
  width: 100%;
  margin: auto;
}

.container-imagem-nome {
}

.container-descricao {
  width: 40%;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form div label {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

form div input,
textarea {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--cor-terciaria);
  font-family: var(--familia-fonte-global);
  border: none;
  border-radius: 4px;
  line-height: 22.5px;
}

form div input {
  height: 39px;
}

textarea {
  height: 161px;
}

.lista-tags li {
  display: flex;
  background-color: var(--cor-fundo-global);
  border: 1px solid var(--cor-fundo-global);
  color: var(--cor-texto-global);
  gap: 10px;
  padding: 4px 8px;
  border-radius: 4px;
}

.lista-tags {
  display: flex;
}

.container-botoes {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.container-botoes button {
  width: 50%;
  padding: 12px 32px 12px 12px;
  text-align: center;
  border-radius: 8px;
  font-family: var(--familia-fonte-global);
  font-size: 18px;
  font-weight: 500;
}

.botao-descartar {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  border: 1px solid var(--cor-primaria);
  position: relative;
}

.botao-descartar::after {
  content: "";
  background-image: url(./img/trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

.botao-publicar {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border: 1px solid var(--cor-terciaria);
  position: relative;
}

.botao-publicar::after {
  content: "";
  background-image: url(./img/arrow_forward2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 23%;
  transform: translateY(-50%);
  margin-left: 8px;
}

@media (max-width: 1010px) {
  main {
    display: none;
  }
}

@media (max-width: 190px) {
  aside {
    display: none;
  }
}
